# Ignored files
*.class
*.jar
*.lst
*/target/
*.class
*.idea/
*.iml
*/target/*
*.class
/bin/
/WebContent/
/SALESMANAGER.h2.db/
/SALESMANAGER.lock.db/
*/sm-shop/**

**/bin
**/build
**/.settings
**/.classpath
*/sm-shop/src/main/resources/*
sm-shop/src/main/resources/database.properties

*/src/main/resources/rebel.xml
*/src/main/resources/rebel-remote.xml

#缓存数据库的文件
sm-shop/files/store/StoreRepository.dat
